@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Gen 1 Pokedex!</h1>
    <p>For more detailed information about Pokemon, click <a href="https://bulbapedia.bulbagarden.net/wiki/Main_Page">here</a>.</p>
</div>
