@{
    ViewData["Title"] = "Home Page";
}
<body style= "background-color:orangered;"></body>
<div class="text-center">
    <h1 style="color:white;" class="display-4">Welcome to the Gen 1 Pokedex!</h1>
    <p style= "color:white;">For more detailed information about Pokemon, click <a href="https://bulbapedia.bulbagarden.net/wiki/Main_Page">here</a>.</p>
</div>
